.cartContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 440px;
  height: 440px;
  font-family: monospace;
  border-radius: 5px;
  border: 3px solid var(--accent01);
  box-shadow: 1px 1px 5px var(--accent01);
  margin: 35px;
  padding: 15px;
  background: url('./img/cyber_squere03.svg') no-repeat;
  background-size: 100%;
  z-index: -1;
}

@media (max-width: 1000px) {
  .cartContainer{
    width: 300px;
    height: 300px;
  }
}

@keyframes animation {
  100%{
   background-position:0px -3000px;
 }
}

.pictureSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 5px;
  width: 98%;
}

.pictureSection img{
  display: inline-block;
  max-height: 170px;
  max-width: 200px;
  padding: 10px;
}

@media (max-width: 1000px) {
  .pictureSection{
    max-height: 90px;
    max-width: 150px;
    margin: 1px;
    padding: 1px;
  }

  .pictureSection img{
    max-height: 110px;
    max-width: 170px;
    padding-top: 10px;
  }
}

.textSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  width: 98%;
}

.textSection p, h3 {
  text-align: center;
  display: flex;
  color: var(--accent01);
  overflow: hidden;
  padding: 5px;
  margin: 5px;
}

.textSection p {
  font-size: 14px;
}

.textSection a{
  text-align: justify;
  display: flex;
  color: var(--accent02);
  overflow: hidden;
  padding: 5px;
  margin: 5px;
  font-size: 12px;
}

@media (max-width: 1000px) {
  .textSection {
    margin: 2px;
  }

  .textSection h3 {
    font-size: 12px;
  }

  .textSection p a{
    font-size: 8px;
  }
}
