:root{
  --accent01: #56D8FF;
  --accent02: #FF8CA5;
  --accent03: #FFDA56;
  --accent01-Saturated: #00c3ff;
  --accent02-Saturated: #ff0055;
  --accent03-Saturated: #ffc800;
  --neutral-grey: #909096;
  --dark-black: #111111;
  --medium-black: #1d1d1d;

  --text-Shadow01: 1px 1px 1px var(--accent01-Saturated);
  --text-Shadow02: 1px 1px 1px var(--accent02-Saturated);
  --text-Shadow03: 1px 1px 1px var(--accent03-Saturated);
}

*,*:after, *:before {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body{
  user-select: none;
  font: 18px 'Helvetica Neue',Helvetica,Arial,sans-serif;
  color: var(--neutral-grey);
  background: var(--dark-black);
  overflow: visible;
  display: block;
  margin: 0;
}

.appContainer {
  display:flex;
  justify-content: center;
  position: absolute;
  left: 5%;
  margin: auto;
  width: 90%;
  min-height:100%
}

.appContainer::before {
  background: url('./img/BackgroundFull000.jpg');
  background-size: 100%;
  background-repeat: repeat-y;
  content: "";
  left: 0;
  height: 100%;  
  opacity: .02; 
  position: absolute;
  top: 0; 
  width: 100%; 
  z-index: -100;
}

.globalContainer {
  margin-left: 25px;
}

/* utility classes */

.hidden {
  visibility: hidden;
}

.up{
  z-index: 10;
}

@media (max-width: 1000px) {
  body {
    overflow: visible;
  }

  .appContainer {
    left: 12%;
    max-height: 90%;
  }
}

/* scrollbar */
body::-webkit-scrollbar {
  width: 10px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  border: 2px dotted var(--accent01);;
}
