:root {
  --accent01: #00ffff;
  --accent02: #ff00ff;
  --neutral-text: #909096;
  --dark-black: #181818;
  --medium-black: #1d1d1d;
}

*,*:after, *:before {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body{
  user-select: none;
  font: 18px 'Helvetica Neue',Helvetica,Arial,sans-serif;
  color: #444;
  background: var(--medium-black);
  overflow: hidden;
  display: block;
  margin: 0;
}

.appContainer {
  position: absolute;
  left: 5%;
  max-height: 90%;
  
}

.globalContainer {
  margin-left: 10px;
}

/*to do - media qyerry*/
/* utility classes */

.hidden {
  visibility: hidden;
}

.up{
  z-index: 10;
}

@media (max-width: 1000px) {
  body {
    overflow: visible;
  }

  .appContainer {
    left: 12%;
    max-height: 90%;
  }
}