.container{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-family: monospace;
  height: 250px;
  margin: 5px;
  max-width: 200px;
  padding: 5px;
}

.container ul{
  margin: 4px;
  max-width: 170px;
  width: 99%;
  padding-bottom: 0px;
}


.mainContent{
  animation: verticalScroll 400s linear infinite;
  border: 1px solid var(--accent01);
  box-shadow: 1px 1px 5px var(--accent01);
  background: url('./img/backgroundWaves.svg');
  background-size: 100%;
  min-height: 90%;
  padding: 5px;
}


@keyframes verticalScroll {
  100%{
   background-position:0px -3000px;
 }
}

.skillEmblem{
  min-height: 100px;
  margin: 10px;
}

.skillEmblem img{
  max-height: 95px;
}

.skillEmblem img:hover {
  transform: rotate3d(1, 1, 1, 360deg);
  transition: 1s;
}


@media (max-width: 1000px) {
  .skillEmblem {
    margin: auto;
    width: 50%;
  }
  .container{
    max-width: 98%;
  }
  .container ul{
    width: 99%;
    margin: 1px;
    border: 1px solid var(--accent02);
    box-shadow: 1px 1px 5px var(--accent02);
    z-index: 10;
    max-width: 98%;
  
  }

}

.skillText{
  font-size: 25px;
  text-shadow:1px 1px 4px var(--accent02);
  color: var(--accent01);
  padding: 10px;
  width: 100%;

}

.checked {
  color: #ff7b00;
}

li:hover>.checked{
  color: var(--accent01);
  transition: 0.2s;
}


