.container{
  margin: 10px;
  padding: 5px;
  display: flex;
  max-width: 200px;
  height: 250px;
  flex-wrap: wrap;
  font-family: monospace;
}

.container ul{
  width: 99%;
  margin: 1px;
  border: 1px solid var(--accent02);
  box-shadow: 1px 1px 5px var(--accent02);
  z-index: 10;
  max-width: 170px;

}
.container ul>li{
  margin-bottom: 8px;
  margin-top: -4px;
}

.upperTrivia{
  min-height: 25px;
  background: url('./img/upperTrivia.svg') no-repeat;
  background-size: 100%;
  
}


.mainContent{
  min-height: 90%;
  border: 1px solid var(--accent01);
  box-shadow: 1px 1px 5px var(--accent01);
  margin: 1px 3px 1px 3px;
  background: url('./img/backgroundWaves.svg');
  background-size: 100%;
  animation: animation 400s linear infinite;
  padding: 5px;

}


@keyframes animation {
  100%{
   background-position:0px -3000px;
 }
}

.skillEmblem{
  min-height: 100px;
  margin: 10px;
}

.skillEmblem img{
  max-height: 95px;
}

.skillEmblem img:hover {
  transform: rotate3d(1, 1, 1, 360deg);
  transition: 1s;
}


@media (max-width: 1000px) {
  .skillEmblem {
    margin: auto;
    width: 50%;
  }
  .container{
    max-width: 98%;
  }
  .container ul{
    width: 99%;
    margin: 1px;
    border: 1px solid var(--accent02);
    box-shadow: 1px 1px 5px var(--accent02);
    z-index: 10;
    max-width: 98%;
  
  }

}

.skillText{
  font-size: 25px;
  text-shadow:1px 1px 4px var(--accent02);
  color: var(--accent01);
  padding: 10px;
  width: 100%;

}

.checked {
  color: var(--accent01);
}

li:hover>.checked{
  color: var(--accent02);
  transition: 0.2s;
}


