.cyberLongSquere {
  align-content: center;
  display: flex;
  background: url('./img/cyberLongSquere.svg') no-repeat;
  background-size: 100%;
  justify-content: center;
  margin: 5px;
  min-height: 300px;
  min-width: 800px;
}

@media (max-width: 1000px) {
  .cyberLongSquere {
    display: flex;
    flex-direction: column;
    background: url('./img/cyberLongSquere01.svg');
    background-size: 100%;
    min-height: 800px;
    min-width: 300px;
    padding: 4px;
  }
}